#parent {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#videos {
    width: 70%;
    overflow: scroll;
}

video {
    display: inline-block;
    width: 640px;
    height: 480px;
}

#chat {
    width: 30%;
}

#chatLog {
    height: 60%;
    overflow: scroll;
}

#chatArea {
    height: 20%;
    width: 100%;
}

#localVideo {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
