$spaceGro: 'Space Grotesk', sans-serif;
$workSans: 'Work Sans', sans-serif;


body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    overflow: hidden;
    font-family: $workSans;
}

#parent {
    margin: 0 3vw;
    width: 94vw;
    height: 100vh;
    padding: 4vh 0 0;
}

#videos {
    background-color: white;
    box-shadow: 0 0 0 0 rgba(25,25,25,0.2);
    border-radius: 2.2rem;
    position: relative;
    padding: 2rem 1.333rem 11.5rem;
    overflow-y: scroll;
    margin-bottom: 2rem;

    .card {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.title,
#chat div {
    font-family: $spaceGro;
}

#chat {
    position: relative;
    padding: 1rem 2.5rem;
    z-index: 50;

    h2 {
        display: block;
        text-transform: uppercase;
        font-family: $spaceGro;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
        margin: 0 0 1.5rem;
    }

    &:after {
        // content: "↩️";
        content: "Hit return to send ↩️";
        font-family: $workSans;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.75rem;
        display: inline-block;
        height: 1.5rem;
        width: 20%;
        position: fixed;
        bottom: 9.5rem;
        right: 0;
        z-index: 250;
        opacity: 0.5;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }

    #chatLog {
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        bottom: 13rem;
        top: 0;
        right: 2vw;
        bottom: 11.5rem;
        width: 18vw;
        padding: 2rem 0 0 0;

        div {
            background-color: #8BC6EC;
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
            border-radius: 1.333rem;
            display: table;
            margin: 0 0 1rem;
            padding: 0.5rem 0.925rem;
            font-size: 1rem;
        }
    }

    textarea#chatArea {
        width: 18%;
        position: fixed;
        overflow: scroll;
        min-height: 7.25rem;
        background: rgba(25,25,25,0.2);
        bottom: 1.67rem;
        right: 2%;
        border-radius: 1rem;
        border: none;
        outline: none;
        padding: 1.333rem 1.2rem;
        color: black;
        z-index: 100;
        font-family: $workSans;
        font-size: 1.125rem;

        &:hover {
            color: blue;
        }
    }
}

.tile.is-ancestor {
    place-content: space-between left;
    flex-wrap: wrap;
}

video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    border-radius: 1rem;
    background: black;
    border: 2px solid transparent;
    align-items: stretch;
    align-items: stretch;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    outline: 5px solid #ECE5EE;

    &:only-child {
        min-width: 96%;
    }

    &.tile.is-child {
        margin: 0 0.67rem 1.2rem !important
    }

    &:hover {
        border-color: #34E8BD;
        box-shadow: inset 0 5px 0 black;
        cursor: pointer;
    }
}

// adjust video panels layout based on aspect ratio
/* Minimum aspect ratio */
    @media (min-aspect-ratio: 2/3) {
        .tile.is-ancestor {
            flex-direction: row !important;
        }
        body {
            overflow-y: scroll;
        }
        #videos {
            overflow-y: scroll !important;
        }
        video.tile {
            display: inline-table !important;
            width: 47.5% !important;
        }
    }
    
    /* Maximum aspect ratio */
    @media (max-aspect-ratio: 3/2) {
        .tile.is-ancestor {
            flex-direction: column;
            place-content: normal !important;
        }
        video.tile {
            outline: 5px solid #9ff; /* cyan */
            // min-width: 45%;
            width: 97.5% !important;
            min-height: 33vw;
            display: block !important;
        }
    }
    
    /* Exact aspect ratio, put it at the bottom to avoid override*/
    @media (aspect-ratio: 1/1) {}
  

// adjust layout for mobile
@media screen and (max-height: 730px) {
    #videos {
        .card {
            .card-content {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body,
    #videos {
        overflow-y: scroll;
    }

    #videos,
    #chat {
        min-height: 5vh;
    }

    html,
    body {
        font-size: 14px;
    }

    #parent {
        margin: 0 2vw;
        width: 96vw;
        padding: 0.85rem 0 1.5rem;
    }

    #videos {
        margin-bottom: 2.75rem;
        padding-bottom: 3.33rem;

        .card {
            .card-content {
                display: none;
            }
        }
    }

    #chat {
        padding: 1rem 2vw;

        #chatLog,
        textarea#chatArea,
        &::after {
            position: relative !important;
            left: auto;
            right: auto;
            bottom: auto;
            width: auto;
        }

        textarea#chatArea {
            margin: 2rem auto 0;
            width: 98%;
        }
    }
}